*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.carousel ul,ol{
	list-style: none;
}

body{
	font-family: Open sans;
}

.carousel{
	width: 100%;
	position: relative;
}

.carousel-body li, ul{
	width: 100%;
}

.carousel-body li{
	overflow: hidden;
}

.carousel-body li img{
	max-width: 100%;

}

.slide-caption, .caption-left, .caption-center{
	position: absolute;
	width: 50%;
	height: 40%;
	top: 55%;
    background-color: #000;
    opacity: .75;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    box-shadow: 1px 1px 1px #ccc;
	text-align: center;
	color: #fff;
	z-index: 1;
}
.caption-left{
    left: 50%;
}
.caption-center{
   left: 26%
}
.carousel-body .slide-caption h1{
	font-size: 50px;
}

.carousel-body .slide-caption p{
	margin-top: 10px;
	font-size: 20px;
}

.indicators{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.indicators li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}
.left span i:hover, .right span i:hover{
    color: #444;
}
.left{
	left: 10px;
}

.right{
	right: 10px;
}


@media screen and (max-width: 750px){
	.carousel-body .slide-caption p{
		display: none;
	}

	.carousel-body .slide-caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.carousel-body li img{
		width: 750px;
	}

	.indicators{
		display: none;
	}
}
